@{
    ViewBag.Title = "Index";
}

<h2>Controller:Home, Action:Index</h2>
<p>
    Глобальные фильтры применяются ко всем действиям в контроллерах. Фильтры регистрируются как
    глобальные с помощью метода RegisterGlobalFilters в App_Start\FilterConfig.сs
</p>
@Html.ActionLink("Тестовое действие", "Test")
