@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        id = @ViewBag.Id
        <br />
        catchall = @ViewBag.All
        <br />
        <br />
        <br />
        <a href="/Home/Index/10/hello/world">/Home/Index/10/hello/world</a>
    </div>
</body>
</html>
