@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        Маршрутизация в MVC приложении:
        <br />
        /Home/List
    </div>
</body>
</html>
