@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action2</title>
</head>
<body>
    <div>
        @*Чтение данных из объекта ViewBag*@
        <p>День недели: @ViewBag.Date.Year</p>
    </div>
</body>
</html>
