@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Action #1 (Strongly Typed View)", "Action1")<br />
        @Html.ActionLink("Action #2 (ViewBag)", "Action2")<br />
        @Html.ActionLink("Action #3 (ViewData)", "Action3")
    </div>
</body>
</html>
