@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Маршрутизация в MVC.<br />
        Определение значений по умолчанию.
        <br />
        <a href="/Customer">/Customer</a><br />
        <a href="/Customer/Index">/Customer/Index</a><br />
        <a href="/Customer/List">/Customer/List</a><br />
        <a href="/Customer/List/All">/Customer/List/All</a>
    </div>
</body>
</html>
