
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Представление ActionName</title>
</head>
<body>
    <div>Контроллер: <strong>@ViewBag.Controller</strong></div>
    <div>Метод действия: <strong>@ViewBag.Action</strong></div>
    <div>
        @Html.ActionLink("Ссылка", "GetLegacyURL",
            new { legacyURL = "~/old/NET_Framework_4" })
    </div>
</body>
</html>
