
@{
  ViewBag.Title = "Index";
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
</head>
<body>
  <div>
    <h2>MyView</h2>
    Сообщение от контроллера: &laquo; @ViewBag.Message &raquo;
  </div>
</body>
</html>
