@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor Syntax</title>
</head>
<body>
    <!--Блок кода---------------------------------------->
    @{
        int a = 123;
        string message = "<b>Hello world</b>";
    }
    <!--------------------------------------------------->
    <!--Выражение (HTML encoded)------------------------->
    <span>@message</span>
    <!--------------------------------------------------->
    <!--Выражение (Unencoded)--------------------------->
    <span>@Html.Raw(message)</span>
    <!--------------------------------------------------->
    <!--Комбинирование текста и разметки----------------->
    @{
        string[] items = { "Item 1", "Item 2", "Item 3" };
    }

    @{
        foreach (string item in items)
        {
            <span>@item</span>
        }
    }
    <!--------------------------------------------------->
    <!--Комбинирование кода и текста--------------------->
    @{
        bool foo = true;
    }

    @if (foo)
    {
        <span>Hello world</span>
    }
    <!--------------------------------------------------->
    <!--Комбинирование кода и текста (Вариант 2)--------->
    @if (foo)
    {
        @:Hello world
        }
    <!-------------------------------------------------->
    <!--Email адреса в разметке-------------------------->
    admin@example.com
    <!--------------------------------------------------->
    <!--Использование символа at------------------------->
    <p>Для получения доступа к значению переменной foo мы используем код @@foo</p>
    <!--------------------------------------------------->
    @*
        Серверный
        многострочный
        комментарий
    *@


</body>
</html>
