@model ModelValidation.Models.Appointment

@{
    ViewBag.Title = "Вы записаны!";
}

<h3>Вы записаны!</h3>
<p>Ваше имя: <b>@Html.DisplayFor(m => m.ClientName)</b></p>
<p>Дата приема: <b>@Html.DisplayFor(m => m.Date)</b></p>

