<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Информация о товаре</h1>
        <div style="padding: 20px; border: solid medium black; font-size: 20pt">
            @RenderBody()
        </div>
        <h2>Посетите сайт <a href="http://stm.khai.edu/">СТМ ХАИ</a></h2>
    </div>
</body>
</html>
