@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Action2</title>
</head>
<body>
    <div>
        <h2>Controller:Home, Action:Action2</h2>
        Данные полученные из TempData - @Model
        <br />
        @Html.ActionLink("Действие #3", "Action3")
    </div>
</body>
</html>
