@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Action3</title>
</head>
<body>
    <div>
        <h2>Controller:Home, Action:Action3</h2>
        Данные полученные из TempData - @Model
    </div>
</body>
</html>
