@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Action1</title>
</head>
<body>
    <div>
        <h2>Controller:Home, Action: Action1</h2>
        Данные записаны в TempData
        <br />
        @Html.ActionLink("Действие #2", "Action2")
    </div>
</body>
</html>
