@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Result = @ViewBag.Result<br />

        <a href="/Home/Index/2/3">2 + 3 (/Home/Index/2/3)</a><br />
        <a href="/Home/Index/10/20">10 + 20 (/Home/Index/10/20)</a>
    </div>
</body>
</html>
