@model string[]
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header {
    <div class="view">
        @foreach (string str in new[] { "Home", "List", "Edit" })
        {
            @Html.ActionLink(str, str, null, new { style = "margin: 5px" })
        }
    </div>
}

<div class="view">
    <h2>Названия фруктов</h2>

    @foreach (string fruit in Model)
    {
        <br /><span><b>@fruit</b></span>
    }
</div>

@section Footer {
    <div class="view">
        Это футер
    </div>
}