@model HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = "Извините, возникли проблемы!";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка диапазона допустимых значений</title>
</head>
<body>
    <h2>Извините</h2>
    <span>
        Значение <b>@(((ArgumentOutOfRangeException)Model.Exception).ActualValue)</b>
        не входит в допустимые пределы.
    </span>
    <div>
        @Html.ActionLink("Измените это значение и попробуйте снова", "Index")
    </div>
</body>
</html>