@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>
            HomeController Index view
        </p>
        <a href="/Home/Index">/Home/Index</a><br />
        <a href="/Public/Home/Index">/Public/Home/Index</a><br />
    </div>
</body>
</html>
