
@model decimal

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Значение</title>
</head>
<body>
    <div>
        Общая стоимость $@Model
    </div>
</body>
</html>

